@model IEnumerable<Concesionaria.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehículos en venta";
}

<h1>Vehículos Disponibles </h1>

    <div class="border-top">  
     <div class="container"  >
        <div class="row"> 
             
 
@foreach (var item in Model) {
    if(!item.FueVendido){
       <div class=" col-xl-4 col-lg-6  col-md-6  col-sm-12"  > 
            

              <hr> 
             <div class="col" >
                     
                      <img src=" @Html.DisplayFor(modelItem => item.RutaImagen)" alt="@Html.DisplayFor(modelItem => item.Modelo)" width=340px height=250px > 
                      
                      
            </div>
             
         
         <div class="row">
             <div class="col ">
                 @Html.DisplayNameFor(model => model.Marca) :
            
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Marca)
            </div>
        </div>

      
         <div class="row">
             <div class="col ">
                    @Html.DisplayNameFor(model => model.Modelo) :
            
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Modelo)
            </div>
        </div>
 
  
        <div class="row">
             <div class="col ">
                 @Html.DisplayNameFor(model => model.Color) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Color)
            </div>
        </div>
 
        
        <div class="row">
             <div class="col ">
                 @Html.DisplayNameFor(model => model.Año) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Año)
            </div>
        </div>
   
     
        <div class="row">
             <div class="col ">
                 @Html.DisplayNameFor(model => model.Kilometros) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Kilometros)
            </div>
        </div>
  
   
        <div class="row">
             <div class="col ">
                 @Html.DisplayNameFor(model => model.TipoAuto) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.TipoAuto)
                   
            </div>
        </div>
  
          
        <div class="row">
           
             <div class="col" style="font-size:30px" > 
               $@Html.DisplayFor(modelItem => item.PrecioVenta)   
            </div>
        </div>
  
        <div class="row">
             <div class="col ">
                   <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
                 
            </div>
        </div>
   </div>
 
        
    }
       
}       
                  </div>
       </div>
  </div>
  
