@model IEnumerable<Concesionaria.Models.Vehiculo>

@{
    ViewData["Title"] = "Concesionaria Practica Profesionalizante";
}
 
<h1 class="sepLetras1">CONCESIONARIA </h1>
<h4 class="sepLetras2 " style="margin-bottom:20px;" >Vehículos disponibles en este momento</h4>
 

    <div class="border-top">  
     <div class="container"  >
        <div class="row"> 
  
@foreach (var item in Model) {
    if(!item.FueVendido){
       <div class=" col-xl-4 col-lg-5  col-md-6  col-sm-12"  > 
            

             
             <div class="col " >
                      <hr> 
                     <center> <img  src=" @Html.DisplayFor(modelItem => item.RutaImagen)" alt="@Html.DisplayFor(modelItem => item.Modelo)" width=390px  height=250px > </center>
                          
            </div>
            <hr>
         
         <div class="row">
             <div class="col negrita ">
                 @Html.DisplayNameFor(model => model.Marca) :
            
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Marca)
            </div>
        </div>

      
         <div class="row">
             <div class="col negrita">
                    @Html.DisplayNameFor(model => model.Modelo) :
            
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Modelo)
            </div>
        </div>
 
  
        <div class="row">
             <div class="col negrita">
                 @Html.DisplayNameFor(model => model.Color) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Color)
            </div>
        </div>
 
        
        <div class="row">
             <div class="col negrita">
                 @Html.DisplayNameFor(model => model.Año) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Año)
            </div>
        </div>
   
     
        <div class="row">
             <div class="col negrita ">
                 @Html.DisplayNameFor(model => model.Kilometros) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.Kilometros)
            </div>
        </div>
  
   
        <div class="row">
             <div class="col negrita">
                 @Html.DisplayNameFor(model => model.TipoAuto) :
            </div>
             <div class="col ">
                   @Html.DisplayFor(modelItem => item.TipoAuto)
                   
            </div>
        </div>
  
          
        <div class="row">
           
             <div class="col " id="separacion1" style="font-size:30px;  " > 
               $ @Html.DisplayFor(modelItem => item.PrecioVenta)   
            </div>
             <div class="col" style="margin-top:5px" > 
                 <a class="boton" style="text-decoration:none" asp-controller="Cliente"  asp-action="Seleccion" asp-route-id="@item.Id" >FINANCIACION</a> 
               
              </div>
        </div>
  
        <div class="row">
             <div class="col"  >
                  <center><a style="color:darkblue" asp-action="Details" asp-route-id="@item.Id">Detalles</a> </center> 
          
            </div>
        </div>
       
   </div>
 
        
    }
       
}       
                  </div>
       </div>
  </div>
  
